<mat-card>
  <div class="login__title">Вход в систему</div>
  <form [formGroup]="formGroup" (keydown.enter)="submit()">
    <mat-form-field color="accent">
      <mat-label>Username</mat-label>
      <label>
        <input matInput formControlName="username">
      </label>
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-label>Пароль</mat-label>
      <label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
      </label>
      <button matSuffix mat-icon-button (mousedown)="hide = !hide">
        <mat-icon> {{ hide ? 'visibility_off' : 'visibility' }} </mat-icon>
      </button>
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="submit()">Войти</button>

</mat-card>
