<div class="cards">
  <div *ngFor="let card of cards">
    <mat-card class="card">
      <img [hidden]="loadingIMG" src="../../../assets/a9.jpg">
      <img [hidden]="!loadingIMG" src="{{card?.image}}" width="200" alt="shampoo" (load)="loadingIMG = true">
      <div class="card__row">
        <div>
          <div>{{card?.fullname}}</div>
          <div>{{card?.price}}</div>
        </div>
        <button mat-mini-fab class="card__button-cart" (click)="addToCart()"><mat-icon>shopping_basket</mat-icon></button>
      </div>
    </mat-card>
  </div>
</div>
